$breakPoint: 600;
$maxWidth: 1440;
$minWidth: 375;

@mixin font-size-a($value) {
  $valueWidth: calc($value / $maxWidth);
  font-size: calc(#{$value + px} + #{$valueWidth} * (100vw - #{$maxWidth + px}));
}

// Mobile

@mixin font-size-am($value) {
  $valueWidth: calc($value / $minWidth);
  font-size: calc(#{$value + px} + #{$valueWidth} * (100vw - #{$minWidth + px}));
}

html {
  font-family: 'Montserrat';
  scroll-behavior: smooth;
  font-size: 13.33px;
  color: $black;
  scroll-padding-top: 11.1rem;
  @media (max-width: 1920px) {
    @include font-size-a(10);
  }
  @media (max-width: 600px) {
    scroll-padding-top: 7.1rem;
    @include font-size-am(10);
  }
}
body {
  font-size: 2rem;
}

#__nuxt,
#__layout,
#__layout > * {
  min-height: 100vh;
}

.container-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container {
  display: flex;
  max-width: 1920px;
  width: 100%;
  padding-left: 10.8rem;
  padding-right: 10.8rem;
  @media (max-width: 600px) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}