$text: #222222;
$text-1b: #1B1F3B;
$text-15: #151618;

$primary: #007BFF;

$gray: #FAFAFA;
$gray-ce: #CECECE;

$error: #F44336;
$success: #689F38;

$black: #000;
$white: #fff;

$box-shadow-1: 0px .4rem 5rem rgba(0, 0, 0, 0.05);

// utilities

$text-colors: (
  t: $text,
  t1b: $text-1b,
  t15: $text-15,
  p: $primary,
  w: $white,
  b: $black,
);

$background-colors: (
  p: $primary,
  g: $gray,
  gce: $gray-ce,
  w: $white,
);

$line-heights: (
  110: 120%,
  120: 120%,
  130: 130%,
  140: 140%,
  180: 180%,
  190: 190%,
);

$font-sizes: (
  10: 1.0rem,
  12: 1.2rem,
  14: 1.4rem,
  15: 1.5rem,
  16: 1.6rem,
  17: 1.7rem,
  20: 2.0rem,
  22: 2.2rem,
  25: 2.5rem,
  28: 2.8rem,
  30: 3.0rem,
  35: 3.5rem,
  40: 3.5rem,
);

// $border-colors: $background-colors;

$box-shadows: (
  1: $box-shadow-1,
);

// $spacers: (
// );

$border-radiuses: (
  10: 1rem,
  15: 1.5rem,
  30: 3rem,
);

// $borders: (
//   0: 0rem,
//   1: solid 0.0625rem,
//   2: solid 0.125rem,
//   3: solid 0.1875rem,
// );

$grid-breakpoints: (
  xs: 0,
  mb: 600px,
);
