$text: #222222;
$secondary-text: #333333;

$primary: #0071B7;

$gray: #F5F6F9;
$gray-light: #FBFCFD;
$gray-heavy: #DDDEE1;
$gray-footer-1: #E9EBEC;
$gray-footer-2: #DBDEE1;

$error: #F44336;
$success: #689F38;

$black: #000;
$white: #fff;

$box-shadow-1: 0px 4px 8px rgb(0, 0, 0, 0.07);
$box-shadow-2: 0px 4px 10px rgba(0, 0, 0, 0.11);

// utilities

$text-colors: (
  t: $text,
  st: $secondary-text,
  p: $primary,
);

$background-colors: (
  p: $primary,
  w: $white,
  g: $gray,
  gl: $gray-light,
  gh: $gray-heavy,
  gf1: $gray-footer-1,
  gf2: $gray-footer-1,
);

$line-heights: (
  110: 120%,
  120: 120%,
  130: 130%,
  140: 140%,
  180: 180%,
  190: 190%,
);

$font-sizes: (
  10: 1.0rem,
  12: 1.2rem,
  14: 1.4rem,
  15: 1.5rem,
  16: 1.6rem,
  17: 1.7rem,
  20: 2.0rem,
  22: 2.2rem,
  25: 2.5rem,
  28: 2.8rem,
  30: 3.0rem,
  35: 3.5rem,
  40: 3.5rem,
);



// $border-colors: $background-colors;

// $box-shadows: (
//   1: $box-shadow-1,
//   2: $box-shadow-2,
// );



// $spacers: (
// );

// $border-radiuses: (
// );

// $borders: (
//   0: 0rem,
//   1: solid 0.0625rem,
//   2: solid 0.125rem,
//   3: solid 0.1875rem,
// );

$grid-breakpoints: (
  xs: 0,
  mb: 600px,
);
